@page "/"
@using MyShop.App.Data.Interface

@inject IClock Clock

<PageTitle>Index</PageTitle>

<h1>Добро пожаловать в магазин: ЧЕПУХА</h1>

<div> Время: @time </div>

<SurveyPrompt Title="How is Blazor working for you?"/>

@code{

    TimeOnly time;
    
    protected override void OnInitialized()
    {
        time = Clock.GetCurrentTime();
    }

}