@page "/login"
@using MyShop.HttpApiClient
@using Microsoft.AspNetCore.Components
@using MyShop.Models

@inject IShopClient Client
@inject IToastService Toast
@inject NavigationManager NavigationManager

<h3>Вход в систему</h3>

<EditForm Model="_model" OnValidSubmit="LoginUser">
    <FluentValidationValidator/>
    <table>
        <tr>
            <td>Имя</td>
            <td><InputText type="text" class="form-control" @bind-Value="_model.Name"/></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><InputText type="email" class="form-control" @bind-Value="_model.Email"/></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><InputText type="password" class="form-control" @bind-Value="_model.Password"/></td>
        </tr>
        <tr><td class="row-cols-2"><ValidationSummary/></td></tr>
        <tr><input type="submit" class="btn btn-primary btn-block mr-2" value="Войти"/></tr>
        <tr><input type="button" class="btn btn-secondary btn-block mr-2" @onclick="GoToRegister" value="Зарегестрироваться"/></tr>

    </table>
</EditForm>

@code {
    private readonly User _model = new();
    private bool _registered = false;
    

    private async Task LoginUser()
    {
        await Client.RegisterAccount(_model);
    //NavigationManager - перенаправить
        _registered = true;
    }
    private void GoToRegister()
    {
        NavigationManager.NavigateTo("/register");
    }
}