@page "/registration"
@using MyShop.HttpModels
@using MyShop.HttpApiClient
@using MyShop.HttpModels.Requests
@using Blazored.LocalStorage

@inject IShopClient Client
@inject IToastService Toast
@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage

<h3>Регистрация в системе</h3>

<EditForm Model="_model" OnValidSubmit="Register">
     <FluentValidationValidator/> 
    <table>
        <tr>
            <td>Имя</td>
            <td>
                <InputText type="text" class="form-control" @bind-Value="_model.Name"/>
            </td>
        </tr>
        <tr>
            <td>Почта</td>
            <td>
                <InputText type="email" class="form-control" @bind-Value="_model.Email"/>
            </td>
        </tr>
        <tr>
            <td>Пароль</td>
            <td>
                <InputText type="password" class="form-control" @bind-Value="_model.Password"/>
            </td>
        </tr>
        <tr>
            <td class="row-cols-2">
                <ValidationSummary/>
            </td>
        </tr>
        <tr>
            <input type="submit" class="btn btn-primary btn-block mr-2" value="Зарегестрироваться"/>
            <input type="button" class="btn btn-secondary btn-block mr-2" @onclick="GoToLogin" value="Войти"/>
        </tr>

    </table>
</EditForm>


@if (_registered)
{
    Toast.ShowInfo("Вы успешно зарегестрированны!");
}

@code {
    private readonly RegisterRequest _model = new();
    private bool _registered = false;


    private async Task Register()
    {
        await Client.RegisterAccount(_model);
        NavigationManager.NavigateTo("login");
        _registered = true;
    }

    private void GoToLogin()
    {
        NavigationManager.NavigateTo("login");
    }

}